<div class="background-image">
  <div class="container">
    <div class="row">
      <div class='col-md-4 col-md-offset-4 box-background'>
<br>
        <div class='text-center text-white'> Sign up as wine seller</div>



        <br>
      <%= render "shared/stepper" %>
<br>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <%= render 'shared/devisemes' %>
        <div class="form-group">
          <%= f.input :fullname, required: true, autofocus: true, placeholder: 'durant', class:'form-control' %>
        </div>
        <div class="form-group">
          <%= f.input :email, required: true, autofocus: true, placeholder: 'johnn@gmail.com', class:'form-control' %>
        </div>
        <div class="form-group">
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), placeholder: 'Wskn@23', class:'form-control' %>
        </div>
        <div class="form-group text-red">
          <%= f.label :status do %>
          <%= f.check_box :status %> I want to become a wine seller
          <% end %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Sign up", class:'btn btn-normal btn-block' %>
        </div>
        <% end %>
        <br>
        <!--
        <%= link_to "Sign up with Facebook", user_facebook_omniauth_authorize_path, class: "btn btn-facebook btn-block" %>

        -->
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  // Tooltips Initialization
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

// Steppers
$(document).ready(function () {
  var navListItems = $('div.setup-panel-2 div a'),
          allWells = $('.setup-content-2'),
          allNextBtn = $('.nextBtn-2'),
          allPrevBtn = $('.prevBtn-2');

  allWells.hide();

  navListItems.click(function (e) {
      e.preventDefault();
      var $target = $($(this).attr('href')),
              $item = $(this);

      if (!$item.hasClass('disabled')) {
          navListItems.removeClass('btn-amber').addClass('btn-blue-grey');
          $item.addClass('btn-amber');
          allWells.hide();
          $target.show();
          $target.find('input:eq(0)').focus();
      }
  });

  allPrevBtn.click(function(){
      var curStep = $(this).closest(".setup-content-2"),
          curStepBtn = curStep.attr("id"),
          prevStepSteps = $('div.setup-panel-2 div a[href="#' + curStepBtn + '"]').parent().prev().children("a");

          prevStepSteps.removeAttr('disabled').trigger('click');
  });

  allNextBtn.click(function(){
      var curStep = $(this).closest(".setup-content-2"),
          curStepBtn = curStep.attr("id"),
          nextStepSteps = $('div.setup-panel-2 div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
          curInputs = curStep.find("input[type='text'],input[type='url']"),
          isValid = true;

      $(".form-group").removeClass("has-error");
      for(var i=0; i< curInputs.length; i++){
          if (!curInputs[i].validity.valid){
              isValid = false;
              $(curInputs[i]).closest(".form-group").addClass("has-error");
          }
      }

      if (isValid)
          nextStepSteps.removeAttr('disabled').trigger('click');
  });

  $('div.setup-panel-2 div a.btn-amber').trigger('click');
});



</script>
