<div class="background-image">
  <div class="container text-center">
    <div class="row">
      <div class='col-md-4 col-md-offset-4 box-background'>
        <br><br>
        <div class='text-white'> Update your payment settings </div>
        <br>
        <%= render "shared/stepper" %>
        <br>
        <% if current_user.merchant_id.blank? %>
        <%= link_to image_tag('stripe_button.png'), stripe_express_path %>
        <% else %>
        <br/>
        <div class='text-center text-white'>
          <%= link_to "Express Dashboard", @login_link.url, class: "btn btn-normal" %>
        </div>
        <% end %>
        <br><br>
      </div>
    </div>
  </div>
</div>

<!--


<div class="container">
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">Payout Method</div>
      <div class="panel-body">
        <div class="container text-center">
          <% if current_user.merchant_id.blank? %>
              <%= link_to image_tag('stripe_button.png'), stripe_express_path %>
          <% else %>
              <br/>
              <div class="text-center">
                <%= link_to "Express Dashboard", @login_link.url, class: "btn btn-normal" %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
-->
