<%= render partial: 'shared/connected_menu' %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Receive your Notification by:</div>
        <div class="panel-body">
          <div class="container">
            <%= form_for :setting do |f| %>
            <div class="row form-group">
              <div class="col-md-6 text-center">
                <%= f.check_box :enable_email %> Email
              </div>
              <div class="col-md-6 text-center">
                <%= f.check_box :enable_sms %> SMS
              </div>
            </div>
            <div class="text-center">
              <%= f.submit "Save Your Settings", class: "btn btn-normal" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
