<%= render partial: 'shared/connected_menu' %>
<div class='container'>
  <br>
  <h4 class='text-center'><strong>For your information, here are the last reservations of wine on your locality:</strong></h4>
  <hr>
  <div class='row'>
    <div class='col-md-8'>
      <% @reservations.each do |reservation| %>
      <div class="product">
        <div class='product-upvote'>
          <div><%= image_tag 'wine_house.png', height: 30 %> </div>
          <div class='product-count'>Reservation faite le: <br><%= reservation.room.created_at.strftime("%-d/%-m/%y") %></div>
        </div>
        <%= image_tag "glasses.jpg", class:"product-image hidden-xs" %>
        <div class='product-body'>
          <h3><%= reservation.room.listing_name %></h3>
          <p><%= reservation.room.room_type %></p> <%= reservation.room.price %> euros
        </div>
      </div>
      <% end %>
    </div>
    <div class='col-md-4'>
      MAP HERE
    </div>
  </div>
</div>
