<% rooms.each do |room| %>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading preview text-center">
        <!--
          <%= image_tag room.cover_photo(:medium) %>
          -->
          <%= link_to room.listing_name, room %>
        </div>
        <div class="panel-body">
          $<%= room.price %> <%= room.home_type %> <br><%= room.room_type %> <%= room.accommodate %>
          <div id="star_<%= room.id %>"></div>
            <%= image_tag avatar_url(room.user), class: "img-circle avatar-small" %> <%= pluralize(room.average_rating, "review") %>
        </div>
      </div>
    </div>

    <script>
      $('#star_<%= room.id %>').raty({
        path: '/assets',
        readOnly: true,
        score: <%= room.average_rating %>
      });
    </script>
<% end %>
