<div class="row">
  <div class="col-md-3">
    <%= render 'room_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">

      <div class="panel-heading">
        Your conditions concerning the sale of your bootle
      </div>

      <div class="panel-body">
        <div class="container">
          <%= form_for @room do |f| %>

              <div class="row form-group">
                <div class="col-md-4">
                  <%= f.check_box :is_tv %> To Go (no delivery)
                </div>
                <div class="col-md-4">
                  <%= f.check_box :is_kitchen %> Delivered in less than 5 min
                </div>
                <div class="col-md-4">
                  <%= f.check_box :is_internet %> Delivered in less than 15 min
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-4">
                  <%= f.check_box :is_heating %> Invoice of buying
                </div>
                <div class="col-md-4">
                  <%= f.check_box :is_air %> Wine Conserved in good place
                </div>
              </div>
              <br/><br/>

              <div class="text-center">
                <%= f.submit "Save", class: "btn btn-form" %>
              </div>

          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>

