<div class="row">
  <div class="col-md-3">
    <%= render 'room_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">

      <div class="panel-heading">
        Listing
      </div>

      <div class="panel-body">
        <div class="container">
          <%= form_for @room do |f| %>

            <div class="row">

              <div class="col-md-4 select">
            <div class="form-group">
              <label>Type of Wine</label>
              <%= f.select :home_type, [["Champagne", "Champagne"], ["Sparkling", "Sparkling"], ["Red Wine", "Red Wine"], ["Rosé", "Rosé"], ["White Wine", "White Wine"], ["Other", "Other"]],
              id: "home_type", prompt: "Select...", class: "form-control" %>
            </div>
              </div>

              <div class="col-md-4 select">
            <div class="form-group">
              <label>Wine Appelation</label>
              <%= f.select :room_type, [["Pomerol", "Pomerol"], ["St Emilion", "St Emilion"], ["Medoc", "Medoc"], ["Other", "Other"]],
              id: "room_type", prompt: "Select...", class: "form-control" %>
            </div>
              </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>Booking Type</label>
              <%= f.select :instant, Room.instants.map {|key,value| [key.humanize, key]}, prompt: "Select...", class: "form-control" %>
            </div>
          </div>

              <div class="col-md-4 select">
            <div class="form-group">
              <label>Year</label>
              <%= f.select :accommodate, [["1980", 1980], ["1981", 1981], ["1982", 1982], ["1983", 1983]],
              id: "accommodate", prompt: "Select...", class: "form-control" %>
            </div>
              </div>

              <div class="col-md-4 select">
            <div class="form-group">
              <label>Conservation</label>
              <%= f.select :bed_room, [["Outside Temperature", "Outside Temperature"], ["Cold", "Cold"], ["Very Cold", "Very Cold"]],
              id: "bed_room", prompt: "Select...", class: "form-control" %>
            </div>
              </div>

              <div class="col-md-4 select">
            <div class="form-group">
              <label>Size of the bottle</label>
              <%= f.select :bath_room,[["0,375cl", "0,375cl"], ["0,50cl", "0,50cl"], ["0,75cl", "0,75cl"], ["1,5cl", "1,5cl"], ["3l", "3l"], ["5l", "5l"]],
              id: "bath_rooms", prompt: "Select...", class: "form-control" %>
            </div>
              </div>

            </div>

            <div><%= f.submit "Save", class: "btn btn-normal" %></div>

          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>

