<%= render partial: 'shared/connected_menu' %>

<div class='container'>
  <div class="panel panel-default">
    <div class="panel-heading">
      Add your bootle online
    </div>
    <div class="panel-body">
      <div class="container">

        <%= form_for @room do |f| %>
        <div class="row">
          <div class="col-md-4 select">
            <div class="form-group">
              <label>Type of Wine</label>
              <%= f.select :home_type, [["Champagne", "Champagne"], ["Sparkling Wine", "Sparkling Wine"], ["Red Wine", "Red Wine"], ["Rosé", "Rosé"], ["White Wine", "White Wine"], ["Other", "Other"]],
              id: "home_type", prompt: "Select...", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>Wine Appelation</label>
              <%= f.select :room_type, [["Pomerol", "Pomerol"], ["St Emilion", "St Emilion"], ["Medoc", "Medoc"], ["Other", "Other"]],
              id: "room_type", prompt: "Select...", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>Booking Type</label>
              <%= f.select :instant, Room.instants.map {|key,value| [key.humanize, key]}, prompt: "Select...", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>Year</label>
              <%= f.select :accommodate, [["1980", 1980], ["1981", 1981], ["1982", 1982], ["1983", 1983]],
              id: "accommodate", prompt: "Select...", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>Conservation</label>
              <%= f.select :bed_room, [["Outside Temperature", "Outside Temperature"], ["Cold", "Cold"], ["Very Cold", "Very Cold"]],
              id: "bed_room", prompt: "Select...", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>Size of the bottle</label>
              <%= f.select :bath_room,[["0,375cl", "0,375cl"], ["0,50cl", "0,50cl"], ["0,75cl", "0,75cl"], ["1,5cl", "1,5cl"], ["3l", "3l"], ["5l", "5l"]],
              id: "bath_rooms", prompt: "Select...", class: "form-control" %>
            </div>
          </div>

        </div>

        <div class='text-center'><%= f.submit "Add my Bottle", class: "btn btn-normal" %></div>

        <% end %>
        <div class="row text-center">
          <strong>Be carefull:<br>
            Instant booking: allows customer to book directly <br>
            Request : needs host approval before booking is approved<br>
            Customer Credit Card Info is mandatory for the 2 options</strong>
          </div>

        </div>
      </div>
    </div>
  </div>
