<div class='background-image'>
  <br>
  <div class="container">
    <div class="row">
      <!-- LEFT PANEL -->
      <div class="col-md-8">

        <div class="row text-center">
          <div class="col-md-4"><span class="label label-danger"><%= @room.home_type %></span></div>
          <div class="col-md-4"><span class="label label-danger"><%= @room.room_type %></span></div>
          <div class="col-md-4"><span class="label label-danger"><%= @room.accommodate %></span></div>
        </div>
        <hr>
        <!-- Listing Name -->
        <div class="row">
         <div class="col-md-4">
           <%= image_tag @room.cover_photo(nil), width: 160 %>
         </div>
         <div class="col-md-8 text-white3">
          <%= @room.listing_name %><br>
          <br>
          <%= @room.summary %>
        </div>
      </div>
      <hr/>
      <!-- About -->
      <div class="row">
        <div class="col-md-7 text-white3">
         bottle located:<br> <%= @room.address %><br><br>
         Delivery and Conditions:<br>
         <ul class="amenities">
          <li><%= image_tag 'checkbox-icon', width: 28 %> To Take Away</li>
          <li><%= image_tag 'red-checkbox', width: 28 %> Delivered in less than 5 min</li>
          <li><%= image_tag 'red-checkbox', width: 28 %> Delivered in less than 15 min</li>
        </ul>
        <ul class="amenities">
          <li><%= image_tag 'checkbox-icon', width: 28 %> Invoice of buying</li>
          <li><%= image_tag 'checkbox-icon', width: 28 %> Wine Conserved in good place</li>
        </ul>
      </div>
      <div class="col-md-5 text-white3">
        <div class="row">
          <div id="map" style="width: 80%; height: 200px"></div>
          <script src="https://maps.googleapis.com/maps/api/js"></script>
          <script>
            function initialize() {
              var location = {lat: <%= @room.latitude %>, lng: <%= @room.longitude %>};
              var map = new google.maps.Map(document.getElementById('map'), {
                center: location,
                zoom: 4
              });

              var marker = new google.maps.Marker({
                position: location,
                map: map
              });

              var infoWindow = new google.maps.InfoWindow({
                content: '<div id="content"><%= @room.listing_name %></div>'
              });

              infoWindow.open(map, marker);
            }

            google.maps.event.addDomListener(window, 'load', initialize);
          </script>

        </div>

      </div>
    </div>
    <!-- NEAR BY ROOMS -->
    <div class="row">
      <div class="col-md-4">
      </div>
    </div>
  </div>
  <!-- RIGHT PANEL -->
  <div class="col-md-4">
    <!-- Reservation Form -->
    <%= render 'reservations/form' %>
    <br>
    <!-- Reviews-->
    <div class="row">
      <div class="col-md-12">
       <div class="panel panel-default text-center">
         <div class="panel-heading">
         sold by:  <%= @room.user.fullname %>
         <%= image_tag avatar_url(@room.user), class: "img-circle avatar-small" %>
          <br><%= pluralize(@guest_reviews.count, "Review") %>
          <span id="average_rating"></span>
        </div>
        <div class="container">
          <div><%= render "reviews/guest_list" %></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>

<script>
  $('#average_rating').raty({
    path: '/assets',
    readOnly: true,
    score: <%= @room.average_rating %>
  });
</script>

