<%= render partial: 'shared/connected_menu' %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="center">
        <%= image_tag avatar_url(current_user), class: "avatar-full" %>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"><%= current_user.fullname %></div>
        <div class="panel-body">
          <ul class="sidebar-list">
            <% if current_user.confirmation_token %>
            <li>Email Address<span class="pull-right icon-babu"><i class="fa fa-check-circle-o"></i></span></li>
            <% end %>
            <% if current_user.provider %>
            <li>Facebook<span class="pull-right icon-babu"><i class="fa fa-check-circle-o"></i></span></li>
            <% end %>
            <% if current_user.phone_verified %>
            <li>Phone Number<span class="pull-right icon-babu"><i class="fa fa-check-circle-o"></i></span></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-9">

      <% if current_user.status? %>
      <u>NOTA BENE:</u> Your account is being verified before becoming a wine seller. You will receive an email to confirm your new status soon!
      <br><br>
      <% end %>


      <!-- Notification -->
      <div class="panel panel-default">
        <div class="panel-heading">Notifications</div>
        <div class="panel-body">
          <%= link_to notifications_path do %>
          You have <span id="num_of_unread"><%= current_user.unread %></span> notification(s).
          <% end %>
        </div>
      </div>


      <!-- Your Listings -->
      <% if current_user.host? %>
      <div class="panel panel-default">
        <div class="panel-heading">Your Wine to be sold (<%= @rooms.length %>)</div>
        <div class="panel-body">
          <%= render partial: "rooms/rooms_list", locals: {rooms: @rooms} %>
        </div>
      </div>
      <% end %>


    </div>
  </div>
</div>
