<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Wines House</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= favicon_link_tag asset_path('wine_house.png'), :rel => 'icon', :type =>  'image/png' %>

  <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'application' %>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&libraries=places"></script>

 <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative:900|Cinzel:900" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/hot-sneaks/jquery-ui.css">



<!--cette ligne me permet d'avoir le drop down fonctionnel en local mais plus les modals -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Google Analytics -->
<%= analytics_init if GoogleAnalytics.valid_tracker? %>

</head>
<body>
  <%= render 'shared/navbar' %>
  <%= render 'shared/message' %>

  <% if current_user %>
  <input type="hidden" id="user_id" value="<%= current_user.id %>">
  <% end %>

  <!--container inside each page -->
  <%= yield %>
<%= render 'shared/footer' %>

</body>
</html>
